.trends{
//    min-height: 80vh;
    .trend-box{
        display: flex;
        // flex-wrap: wrap;
        // justify-content: center;
        gap: 2rem
    }
    h4{
        padding-bottom: 25px;
        font-size: 32px;
        color: #fff;
        margin-top: 33px;
    }
    .trend-card{
        position: relative;
        width: 240px;
        .saved{
            right: -196px;
            position: relative;
            top: -140px;
            opacity:1;
            right: -204px;
            padding: 10px;
            border-radius: 50%;
        }
        .movieinfo{
            position: absolute;
            left: 16px;
            top: 90px;
            display: flex;
            gap: 8px;

            span{
                color: #fff;
                font-size: 12px;
            }
            .circle{
                width: 3px;
                height: 3px;
                background-color: white;
                align-self: center;
                border-radius: 50%;
            }
            .company{
                position: relative;
                right: -56px;
                background: grey;
                color: white;
                mix-blend-mode: normal;
                text-align: center;
                border-radius: 15.5px;
                font-size: 10px;
                padding: 5px;
            }
        }
        .movieName{
            position: absolute;
            top: 82px;
            font-size: 15px;
            left: 16px;
            font-weight: 700;
        }
    }
    .trendimg{
      width: 100%;
        img{
            width: 100%;
        }
    }
}
.swiper-pagination{
    display: none;
}


// responsive


// @media screen and (min-width: 850px) {
//    .trend-box .trend-card{
//         width: 470px;
//     }
// }